 /*style generaux*/
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
   font-size: 1em;
   background-image: url("../assets/images/background-bp.jpg");
   background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 h3, em{
   font-size: 0.8em;
   font-style: normal;
   font-weight: bold;
 }

 em{
   color: #284e94;
 }

 p{
   font-size: 12px;
   color: #e3e3e3;
 }

 button{
   border: none;
   background-color: white;
   padding-left: 5px;
   font-size: 13px;
 }

 section{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-color: #fff;
   width: 824px;
   margin-top: 15px;
   border-radius: 15px 15px 15px 15px;
   padding: 20px 20px;
   box-shadow: 10px 5px 5px #eeeeee;
 }

/* contenaire principale */

 .container-principale{
   display: flex;
   flex-direction: row;
   width: 1100px;
   height: auto;
   background-color: hsl(0, 0%, 96%);
   overflow: hidden;
 }

 /* contenu gauche */

 .contenu-gauche{
   width: 250px;
   background-color: white;
   box-shadow: 10px 0px 5px #eeeeee;
 }

/* contenu droit*/

.contenu-droit{
   width: 850px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
}
 
/*style header*/

#bp{
   width: 200px;
   margin: 40px 25px;
}

header li{
   list-style: none;  
   padding-bottom: 10px;
}

header li a{
   display: block;
   width: 80%;
   padding: 8px 25px;
   color: white;
   text-decoration: none;
   background-color: #284e94;
   border-radius: 0 45px 45px 0;
}
header a:hover{
   background-color: #223f77;
   
}

/* style footer */

footer {
   margin-top: 40px;
   margin-bottom: 100px;
}

footer li{
   list-style: none;
   padding-bottom: 5px;
}

footer li a{
   text-decoration: none;
   padding-left:25px;
   color: #616161;
}

/*style generaux section*/

.icone-section{
   font-size: 33px;
   color: #274e99;
   margin: 15px 35px 15px 10px;
   margin-left: 10px;
   margin-right: 35px;
}

.icon-color{
   color: #d3d3d3;
   font-size: 18px;
   padding-left:17px;
}

/* style section profil */

.photo-profil{
   width: 50px;
   height: 50px;
   border-radius: 50%; 
   margin-right: 35px;
}

.profil{
   width: 400px;
}

/* style section compte */
.infos-compte{
   display: flex;
   flex-direction: row;
}

.donnees{
   margin-top: 12px;
}

.prix{
   color: #2fa35a;
}

.prix-decouvert{
   color: red;
 }

 .paiement-automatique{
   display: flex;
   flex-direction: row;
 }

 .donnee-paiement{
   display: flex;
   flex-direction: row;
   margin-left: 15px ;
   padding: 5px 15px;
   border: thin solid #d3d3d3;
   border-radius: 25px 25px 25px 25px;
 }

 .abonnement{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-right: 5px;
 }

 .donnee-paiement em,h4{
   font-size: 12px;
 }

